@model leave_management.Models.CreateLeaveAllocationVM

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Leave Allocation</h1>
<hr/>

<table id="tableData">
    <thead>
        <tr>
            <th>
                Leave Types
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.LeaveTypes) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a class="btn btn-outline-success" asp-action="SetLeave" asp-route-id="@item.Id">
                    <i class="fas fa-pencil-alt" aria-hidden="true"></i> Allocate to Employees
                </a>
            </td>
        </tr>
}
    </tbody>
</table>
